@keyframes shimmy {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(-50px,0);
    }
}
@keyframes unshimmy {
    0% {
        transform: translate(-50px,0);
    }

    100% {
        transform: translate(0, 0);
    }
}